/.cache/
/.lsp-session-v1
/Machine.org
/auto-save-list/
/backups/
/custom-file.el
/eln-cache/
/email-config.el
/history
/machine-specific.el
/multisession/
/parinfer-rust/
/projects
/straight/
/tramp
/transient/
/tree-sitter/
/url/
/org-persist/
/request/
/verilog-ext/
/forge-database.sqlite
